<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		{{> meta}}

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		{{#if isDevelop}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		{{else}}
		<script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		{{/if}}


	</head>
	<body>
		<div id="header">
			<div class="container-fluid">
				<div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="/" class="navbar-brand"><img src='/images/logo.png' class='img-logo' /></a>
						</div>
						<div class="collapse navbar-collapse">
							<ul id="tag-bar" class="nav navbar-nav navbar-left"> </ul>

							<ul id="lang-bar" class="nav navbar-nav navbar-right">
								<li><a href="" onclick="createCookie('locale', 'zh-tw')">繁</a></li>
								<li><a href="" onclick="createCookie('locale', 'zh-cn')">简</a></li>
							</ul>
							<script type="javascript">
								var language = window.navigator.userLanguage || window.navigator.language;
								if (!readCookie('locale')) {
									createCookie('locale', language);
								}
							</script>

							{{!--
							<ul class="nav navbar-nav navbar-right">
								{{#if user}}
								<li><a href="/keystone/signout">Sign Out</a></li>
								{{else}}
								<li><a href="/keystone/signin">Sign In</a></li>
								{{/if}}
							</ul>
							--}}

							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="/signin" class='center'>
										<span class="ui_icon icon_user"></span>
										<span>登入</span>
									</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="body">
			<!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
			{{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
						{{{flashMessages messages.error}}}
				</div>
				{{/if}}
			</div>
			{{/if}}
			<!-- The content block should contain the body of your template's content-->
			<div class="container">
				<div class="row">
					{{!--
					<div class="col-sm-9 col-md-10">
					--}}
					<div>
						{{{body}}}
					</div>

					{{!--
					<div id="ad_google_responsive" class="col-sm-3 col-md-2">

						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- news-wall-ad1 -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-3050996155258099"
						     data-ad-slot="1372527363"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
					</div>
					--}}

				</div>
			</div>
		</div>
		<footer id="footer" class="container">
				{{!--
				<div id="ad_bidvertiser_banner">
					<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=756052&bid=1861224" TYPE="text/javascript"></SCRIPT>
				</div>
				--}}
				{{!--
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
				--}}
				<div class="top">
          <span class="copyright">
          	©2017 {{policy.appName}}. All Rights Reserved.
          </span>
          <ul>
          	<li> <a rel="nofollow" href="/policy/tos">條款</a> </li>
          	<li> <a rel="nofollow" href="/policy/privacy">隱私</a> </li>
          	<li> <a rel="nofollow" href="/policy/contactus">聯繫我們</a> </li>
          </ul>
				</div>
				<div class="bottom">
					<p>
						免責聲明：本網站是以實時上傳文章的方式運作，本站對所有文章的真實性、完整性及立場等，不負任何法律責任。而一切文章內容只代表發文者個人意見，並非本網站之立場，用戶不應信賴內容，並應自行判斷內容之真實性。發文者擁有在本站張貼的文章。由於本站是受到「實時發表」運作方式所規限，故不能完全監查所有即時文章，若讀者發現有留言出現問題，請聯絡我們。本站有權刪除任何內容及拒絕任何人士發文，同時亦有不刪除文章的權力。切勿撰寫粗言穢語、毀謗、渲染色情暴力或人身攻擊的言論，敬請自律。本網站保留一切法律權利。
					</p>
				</div>
		</footer>

		<div id="cookie_directive_container" class="container" style="display: none">
			<nav class="navbar navbar-inverse navbar-fixed-bottom">
				<div class="container">
					<div class="navbar-inner navbar-content-center" id="cookie_accept">
						<a href="#" class="btn btn-warning pull-right">Got it!</a>
						<p class="text credit">
						This website uses cookies to ensure you get the best experience on our website.
						<br>By using our website, you agree to our <a href="/policy/privacy">Cookie&Privacy Policy</a>.
						</p>
						<br>
					</div>
				</div>
			</nav>
		</div>

		{{{isAdminEditorJS user}}}

		<script src="/js/fb.js"></script>
		<script src="/js/consent.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/ajax-tags.js"></script>

	</body>
</html>
