<div class="container-fluid">
	<div class="row">

			<div>
					<ul role="navigation" class="nav nav-tabs">
						{{# each data.categories }}
							<li>
								<a href="{{categoryUrl key}}" class="tag tag-info">#{{name}}</a>
							</li>
						{{/each}}
					</ul>
			</div>

			<div class="blog">
				{{# each data.posts.results}}
				<div class="col-md-4 post">
					<a href="{{postUrl slug}}">
							{{#if image}}
							<img src="{{{cloudinaryUrl image crop='fit' }}}" class="img-responsive">
							{{/if}}
							<span class="title">{{{title}}}</span>
					</a>
				</div>
				{{/each}}
			</div>
		</div>

	{{>pagination}}
</div>
