<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

			<article>
				<header>
					<h1>{{{data.post.title}}}</h1>
					<h5>
						{{# each data.post.categories}}
						<a href="{{ categoryUrl key }}">#{{ name }} </a>
						{{/each}}
					</h5>
				</header>
				<hr>
				<div class="post">
					{{#if data.post.image}}<img src="{{{imageUrl data.post.image}}}" class="img-responsive" />{{/if}}
					<div class="fb-like"
						data-href="{{data.post.url}}"
						data-layout="standard"
						data-action="like"
						data-size="large"
						{{!--data-share="true"--}}
						data-show-faces="true">
					</div>
					<hr>
					{{{data.post.Content}}}
				</div>
			</article>
			<hr>

			{{> share}}
		</div>
	</div>
</div>

<div class="overlay">

</div>
