<link rel="stylesheet" href="/styles/post.css" >
<link rel="stylesheet" href="/css/font-awesome.css" >
{{#if develop}}
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
	<script src="/js/jquery/jquery-ui.min.js"></script>
{{else}}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{{/if}}

<script type="text/javascript">
$( function() {
	$('#btn_report').click(function() {
    $.get('/report', {post: '{{data.post.slug}}'}, function(data) {
      $('#dialog_report').html(data).dialog({
        title: "檢舉 {{data.title}}",
        dialogClass: "dialog-no-close",
        modal: true,
        buttons: [
          {text: "確定", click: function() { $('#report_form').submit(); }},
          {text: "取消", click: function() { $( this ).dialog( "close" ); }}
        ]
      });
    })
	});

  $('#dialog_like').hide();
  var askLike = setInterval(function() {
    try {
      if ($('#dialog_report').dialog('isOpen')) return;
    } catch(err) {
    }

    $('#dialog_like').dialog({
      dialogClass: "dialog-no-title dialog-fixed",
      closeOnEscape: false,
      width:'auto',
      height:'auto'
   });

    $('.overlay').height("100%").click(function() {
      $('#dialog_like').dialog('close');
      $(this).height("0");
    });
  }, 30000);
});
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

			<article>
				<header>
					<h1>{{{data.title}}}</h1>

					<div class="sub-header">
						<span class='btn btn-small btn-link' id="btn_report">檢舉</span>
						 &nbsp;|&nbsp;
						{{#if data.post.from}}
						<span class="post-from col-md">
								<span class="author">{{data.post.from.author}}</span> 分享於 <a href="{{data.post.from.url}}">{{data.post.from.site}}</a>
						</span>
						{{/if}}
					</div>
				</header>

				{{> share}}

				<hr>

				<div class="tags">
					{{#each data.post.categories}}
					<a href="{{ categoryUrl key }}">#{{ name }} &nbsp;&nbsp;</a>
					{{/each}}
				</div>

				<div class="post">
						{{{data.html}}}
				</div>

				<hr>
				{{> share}}

			</article>

		</div>
	</div>
</div>

<div id="dialog_report"> </div>
<div class="overlay"> </div>
<div id='dialog_like'>
  <div class='text-center'>
    <p>喜歡這篇文章？
      <br> 按個<span class="fb_text">讚</span>及<span class="fb_text">分享</span>給朋友吧
    <div class="fb-like" data-href="{{url}}"
      data-layout="button "
      $data-action="like"
      data-size="large"
      data-show-faces="true"
      data-share="true"></div>
</div>
</div>
